<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- config 파일에서 사용되는 환경 변수 설정 -->
  <properties resource="mapper/mybatis.properties" />
  
  <typeAliases> <!--  클래스의 별명 설정 -->
  	<typeAlias type="main.Member" alias="Member"/> <!-- 클래스명을 별명으로 설정 -->
  	<typeAlias type="main.Student" alias="Student"/> <!-- 클래스명을 별명으로 설정 -->
  	<typeAlias type="main.Professor" alias="Professor"/>
  </typeAliases>
  <!-- Connection 객체  -->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC" />
      <dataSource type="POOLED" >
         <property name="driver" value="${driver}"/>
         <property name="url" value="${url}"/>
         <property name="username" value="${username}"/>
         <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <!--  sql 구문을 가진 파일 목록 -->
  <mappers>
	<mapper resource="mapper/MemberMapper1.xml"/>
  	<mapper resource="mapper/StudentMapper1.xml"/>	
  	<mapper resource="mapper/ProfessorMapper.xml"/>
  </mappers>
</configuration>